---
const today = new Date();
---

<footer>
	<div>© {today.getFullYear()} Derammd Engineering.</div>
	<div class="links">
		<a href="https://github.com/sodrety" target="_blank" rel="noreferrer">GitHub</a>
		<span>·</span>
		<a href="https://www.linkedin.com/in/deramm/" target="_blank" rel="noreferrer">LinkedIn</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 4em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.links {
		margin-top: 0.5rem;
		display: flex;
		gap: 0.5rem;
		justify-content: center;
	}
	.links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
</style>
